
<div class="aboutMeWrapper">
    <h1>About Lauren DeFrancesco</h1>

    <h3>The Start</h3>
    <p>In high school I had the opportunity to travel to Europe for my birthday.
        It was my first real trip abroad. My dad pulled me out of school for a little over a week 
        for us to go to Europe together. My parents split when I was in the 8th grade and 
        traveling was a way for my dad and I to spend some time together and not want to 
        bite each others head off. 
    </p>

    <h2>The why behind this page</h2>
    <p>The driving factor about making this page is to share real life experiences about the trips I've taken. 
        Now I'm sure you're thinking 'oh no not another travel blog' but this is different, more family oriented. I'm not the 
        hot instagram model or the 30 year old who quit their job to find themselve. I'm a college student just trying to 
        scratch off all the countries off my scratch map I have at home. 
    </p>

</div>