
<div class="englandWrapper">
    <h1>England</h1>

    <p>To make things easier we are going to break England up into two parts. 
        Part 1: With family
        Part 2: With rowing team
    </p>
    
    <div class="familyWrapper">
        <h2>Part 1: Family</h2>
        <p>I took this trip with my family in the 9th grade. It ties in with the MAKE LINKS: Italy and France pages as well.

        </p>
    </div>

    <div>
        <h2>Part 2: Rowers</h2>
        <p>This is one of the most unique experience I have had abroad. I was able to go to Henly Royal Regatta on the Thames my sophmore year of college. 
            A little background for you about Henley is it's the oldest regatta in the world </p>

    </div>

</div>
