<div class="banner">
        <div class="centerLrg">
            <h1>Thailand</h1>
        </div>
</div>

<div class="thailandWrapper">
    <div class="bangkokWrapper">
        <slideshow [imageUrls]="gpImages">
        </slideshow>

        <h2>Bangkok</h2>
        <p>I started my south east asia journey in Taiwan. 
            When stepping off the plane the humidity was just as aggressive here as it was in Taiwan.
            My plan was to spend three days in Bangkok alone before meeting up with a travel group for the next 
            10 days. 
        </p>
        <p>Bangkok can be a little overwhelming at fist. Aside from Cairo, it was the largest ciry I had ever been to. 
            One of the most amazing things about Bangkok is the street food. It is incredible, and cheap well aside from the stinky tofu that the 
            thought of is making me gag right now. 
            <img src="" alt="">
        </p>
        <p>One of the other things that Bangkok is famous for is the backpackers street. It's a nonstop party all the time.
            There you can find some of the strangest food rangeing from scorpions on sticks or a roasted bangcrock. 
            <img class="bangcrock" src="https://live.staticflickr.com/65535/49097214502_5f99ca2b38_b.jpg" alt="">
            The other food thing you need to note about Thailand is that their liquor taste different. My faovirte drink in the US is a gin tonic. I ordered
            a gin tonic bucket (yes I said bucket) and was incredibly sad when the gin tasted like our rum. 
            <img class="bucket" src="https://live.staticflickr.com/65535/49096509108_53225b8244_b.jpg" alt="">
        </p>

    </div>

    <div class="grandPalaceWrapper">
        <h2>Grand Palace</h2>
        <p>While the Grand Palace is in Bangkok, it deserves its own section because its the
            Grand Palace. One of the most important things to note about the Grand Palace is that you need
        to dress humble. No tank tops or booty shorts, it's all about being respectful to the monks.</p>
        
        <p class="pl">When you walk in through the gates the first thing yoiu see is all the gold plated structures. There 
            is a lot of people there ranging from tourist to monks to locals who are going there to pray.
        </p>
        <img class="goldGP pr" src="https://live.staticflickr.com/65535/49087032407_d030e1ce52_b.jpg">


    </div>


    <div class="ayutthayaWrapper">
        <h2>Ayutthaya</h2>
        <p>The most memorable thing about Ayutthaya was not the temples or the bike rides but the boat noodles. I would 
            travel across the globe again just to have those noodles again.
        </p>
        <p>We didn't spend too much time in Ayutthaya. We started by renting bikes to go through the city and take
            us from temple to temple. We arrived were riding through the busy street along side of elepants and tuk tuks.
            <img src="https://live.staticflickr.com/65535/49086319138_9c52e1dc60_b.jpg">
            Once we got to the temple it was more like what you would expect when going to see a more relaxed temple. There were vendors
            outside selling elephant statues and there was no security to get into the temple unlike at the Grand Palace.


        </p>
    </div>


    <div class="chiangMaiWrapper">
        <h2>Chiang Mai</h2>
        <p>Probably my favorite place that I went to in South East asia. Chiang Mai was a great change of pace from the hustle and bustle of Bangkok. We had a free day in Chian Mai 
            that our group chose  to go to a quorie///////. There was a water park there with great food and water obsticle courses. But that wasn't what made Chiang Mai amazing.
            The following day we were planning on spending the whole day at an elephant sanctuary. 
        </p>
        <p>What a lot of people don't realize when they go to places that allow them to ride elephants is how badly their treated and 
            how much that actually hurts the elephants. The sanctuary we went to was all about taking care of the elephants and learning more about them. We started our day by 
            learning how to make elephant food and medicine.
            <img src="https://live.staticflickr.com/65535/49092445213_1feefcb468_b.jpg">
            After we did that we moved to one of the most amazing things I've ever been a part of. Feeding and taking care of the elephants.
            The way that you feed the elephants here is you say ***insert words here
            and then you put you're supposed to only put the ball of food inside the elepants mouth but in reality,
            it ended up being the food plus your whole hand. The inside of an elepant's mouth is something that you can never forget.            
        </p>

        <h4>Mei Ooaun</h4>
        <p>
            This elephant holds a special place in my heart. I met Mei Ooaun when we moved to the shower portion for the elephants. The Mahoot tried to 
            get her into the shower station and instead of moving into the shower space she took a set out towards me. I didn't think that the elephant would 
            ignore her keeper to try and get by me so I did the logical thing to test my theory and took a few steps back to see what she would do. To my surprise 
            she took another step towards me. I stood there confused as to why this elephant had decided to follow me but she did. From there I went into the shower 
            in hopes that Mei Ooaun would follow me. And she did. He Mahoot handed over the basket of bananas to me since she wasn't taking direction from him anymore. 
        </p>
        <img src="https://live.staticflickr.com/65535/49087053817_580c6130b3_b.jpg" alt="">

        <p>After showering two of the elepants we moved on to bath time for two other elephants. We walked half a mile to a water area and were able to get into the 
            water with the elephants. We took buckets and brushes and washed the mud off of them. 
        </p>
        <img src="https://live.staticflickr.com/65535/49086851456_9b0ba26c1e_b.jpg" alt="">
        <p>After us cleaning them off I guess one of the elephants wanted to play more since on the walk back to the camp she found the 
            first patch of mud, took her trunk, and sprayed mud all over herself and a few of us. 
        </p>
    </div>


    <div class="railayWrapper">
        <h2>Railay Beach</h2>
        <p>We had been off to a great start so far weather wise considering we went during rainy season. 
            Our luck finally ran out but in the worst time... in Railay Beach. Railay is known for having some of the best beaches in the world.
            We had a unique experience since when we were there we experienced some of the most rain that I have seen. But it created some great stories. 
            On our island hopping we had massive waves and nonstop waves. 
        </p>

        <p>This picture is what most people think of when they  hear Railay Beach. Well minus the huge storm that was going on when this picture was taken.</p>
        <img src="https://live.staticflickr.com/65535/49086854516_9ed73ea7b1_b.jpg" alt="">
    </div>
</div>